<div class="max-w-5xl flex flex-col lg:flex-row gap-4 items-center">

<form [formGroup]="form" class="max-w-3xl p-4">
  <!---campo de nombre-->

  <h1 class="text-lg font-bold text-slate-800 pb-4"> {{edit ? 'Editar comida': 'Añadir nueva comida'}}</h1>

  <div class="w-full">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="ejem.Pizza" formControlName="name" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      @if(name?.invalid && (name?.dirty || name?.touched)){
      <mat-error>
        @if(name?.hasError('required')){
        <span class="text-xs">Este campo es requerido</span>
        
        }
      </mat-error>

      }
    </mat-form-field>
  </div>

  <!---campo de descripcion-->
  <div>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Descripción</mat-label>
      <input matInput placeholder="ejem.Pizza" formControlName="description" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      @if(description?.invalid && (description?.dirty || description?.touched)){
      <mat-error>
        @if(description?.hasError('required')){
        <span class="text-xs">Este campo es requerido</span>
        } @if(description?.hasError('minlength')){
        <span class="text-xs">
          Minimo de caracteres requeridos es de
          {{ description?.getError("minlength").requiredLength }}, tienes
          {{ description?.getError("minlength").actualLength }}
        </span>
        }
      </mat-error>

      }
    </mat-form-field>
  </div>

  <!---campo de imagen-->
  <div>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>URL de la imagen</mat-label>
      <input matInput placeholder="ejem.Pizza" formControlName="image" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      @if(image?.invalid && (image?.dirty || image?.touched)){
      <mat-error>
        @if(image?.hasError('required')){
        <span class="text-xs">Este campo es requerido</span>
        }
      </mat-error>

      }
    </mat-form-field>
  </div>

  <!---campo de categoria-->
  <div>
    <mat-form-field appearance="outline" class="w-full">
      <mat-select formControlName="category">
        <mat-option [value]="'drink'">Bebida</mat-option>
        <mat-option [value]="'food'">Comida</mat-option>
      </mat-select>
      @if(category?.invalid && (category?.dirty || category?.touched)){
      <mat-error>
        @if(category?.hasError('required')){
        <span class="text-xs">Este campo es requerido</span>
        }
      </mat-error>

      }
      <!---
      <mat-label>Categoria</mat-label>
      <input matInput placeholder="ejem.Pizza" formControlName="category" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      @if(category?.invalid && (category?.dirty || category?.touched)){
      <mat-error>
        @if(category?.hasError('required')){
        <span class="text-xs">Este campo es requerido</span>
        } @if(category?.hasError('minlength')){
        <span class="text-xs">
          Minimo de caracteres requeridos es de
          {{ category?.getError("minlength").requiredLength }}, tienes
          {{ category?.getError("minlength").actualLength }}
        </span>
        }
      </mat-error>

      }-->
    </mat-form-field>
  </div>

  <!---campo de precio-->
  <div>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Precio</mat-label>
      <input
        matInput
        placeholder="ejem.Pizza"
        formControlName="price"
        type="number"
        class="example-right-align"
      />
      <span matTextPrefix>$&nbsp;</span>
      <span matTextSuffix>.00</span>

      @if(price?.invalid && (price?.dirty || price?.touched)){
      <mat-error>
        @if(price?.hasError('required')){
        <span class="text-xs">Este campo es requerido</span>
        } @if(price?.hasError('minlength')){
        <span class="text-xs">
          El valor minimo es de
          {{ price?.getError("min").min }}, el valor actual es de
          {{ price?.getError("min").actual }}
        </span>
        }
      </mat-error>

      }
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary"  [disabled]="!form.valid" (click)="edit? updateData(): sendData() ">{{edit? 'Actualizar': 'Enviar' }}</button>

</form>

<div class="w-full lg:w-1/2">
  <img class="aspect-video object-cover bg-no-repeat rounded-lg" src="{{ image?.value}}" alt="" srcset="">
</div>

</div>